*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(201, 146, 231, 0.9));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(197, 148, 230, 0.9));
  }

  .navbar{
    padding: 0;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  nav .nav-item a:hover{
    color: rgb(87, 153, 233) !important
  }
  
 